**Loops**

write a program to display the first 10 numbers. #while loop

In [ ]:
a=1 #a is called temp variable

while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=1

while a<14:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13

write a program to display odd numbers between 1-10

In [ ]:
a=1

while a<=10:
  print(a)
  a=a+2

1
3
5
7
9

In [ ]:
a=1

while a<11:
  print(a)
  a=a+2

1
3
5
7
9

In [ ]:
a=2

while a<=10:
 print(a)
 a=a+2

2
4
6
8
10

In [ ]:
a=2

while a<11:
 print(a)
 a=a+2

2
4
6
8
10

In [ ]:
a=7
b=5

while a<9:
  print(a+b)
  a=a+1

12
13

In [ ]:
x=5

while x<15:
  print(x**2)
  x=x+3

25
64
121
196

questions:

take a number as input from the user & display the multiplication table (fill 10) for that given number.

In [ ]:
num=int(input('enter yor number'))
a=1

while a<11:
  print(num*a)
  a=a+1

enter yor number5
5
10
15
20
25
30
35
40
45
50

write a program to display the first 10 numbers. #for loop

In [ ]:
for i in range(1,11,1): # or else (1,11)
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

questions:

take a number as input from the user & display the multiplication table (fill 10) for that given number.

In [ ]:
num=int(input('enter your number'))

for i in range(1,11):
 print(num*i)

enter your number7
7
14
21
28
35
42
49
56
63
70

take a list of number & display all the even number from the given list.

In [ ]:
l1=[2,3,4,5,6,7,9,11,12,14,15]

for i in l1:
 if i%2==0:
   print(i)

2
4
6
12
14

In [ ]:
l1=[2,3,4,5,6,7,9,11,12,14,15]

for i in l1:
 if i%2==1:
   print(i)

3
5
7
9
11
15

 take a list of number & display the square of all numbers given in the list.

In [ ]:
l2=[2,3,4,5,6]

for i in l2:
  print(i**2)

4
9
16
25
36

 take a list of number & display the square of all the odd numbers given in the list.

In [ ]:
l2=[2,3,4,5,6]

for i in l2:
  if i%2!=0:
   print(i**2)

9
25

 take a list of number & display the square of all the even numbers given in the list.

In [ ]:
l2=[2,3,4,5,6]

for i in l2:
  if i%2==0:
   print(i**2)

4
16
36

Take a list of numbers & display the count of even numbers & count of odd numbers in the given list.

In [ ]:
l3=[2,3,4,5,6,7,9,12,13]

count_even=0
count_odd=0

for i in l3:
  if i%2==0:
    count_even=count_even+1

  else:
    count_odd=count_odd+1
print('in the given list count of even numbers is', count_even , '& count of odd number is', count_odd )

in the given list count of even numbers is 4 & count of odd number is 5