**Statements**

1.pass

2.Break

3.Continue

In [ ]:
#PASS - it makes a particular segment of the code inactive.
x=int(input('enter a number'))
y=int(input('enter a number'))

if x>y:
  print('x is greater')

else:
  pass

enter a number5
enter a number10

In [ ]:
x=int(input('enter a number'))
y=int(input('enter a number'))

if x>y:
  pass

else:
  print('y is greater')

enter a number5
enter a number3

fetch only odd number in the given list using pass statement.

In [ ]:
l1=[2,3,4,5,6,7,9,11,12,14,15]

for i in l1:
 if i%2==0:
   pass

 else:
   print(i)

3
5
7
9
11
15

In [ ]:
#BREAK - forcebly come out of the loop.
fruits=['apple','banana','mango','kivi','grapes']

for i in fruits:
  if i=='mango':
    break
  print(i)

apple
banana

In [ ]:
name='washington'

for i in name:
  if i=='t':
    break
  print(i,end='')

washing

In [ ]:
name='cuttack' (# break will stop from the 1st instence of given list)

for i in name:
  if i=='t':
    break
  print(i)

c
u

In [ ]:
#CONTINUE - skip the mention element in the satisfied condition.
fruits=['apple','banana','mango','kivi','grapes']

for i in fruits:
  if i=='mango':
    continue
  print(i)

apple
banana
kivi
grapes

In [ ]:
name='washington'

for i in name:
  if i=='t':
    continue
  print(i,end='')

washingon

In [ ]:
name='cuttack'

for i in name:
  if i=='t':
    continue
  print(i,end='')

cuack

display all the numbers between 1-10 except 3 & 6 & 8

In [ ]:
for i in range(1,11):

  if i==3 or i==6 or i==8:
   continue

  print(i)

1
2
4
5
7
9
10